.widget {
    width: 300px;
    height: 156px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    text-align: center;
    background: #1778dd;
    padding: 4px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}
.widget_upper {
    height: 50%;
    display: flex;
    border: 1px solid white;
    border-radius: 5px 5px 0px 0px;
    padding: 5px 0;
}
.widget_upper__weather_image {
    width: 40%;
}
.today_info {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.today_temp {
    display: flex;
}
.today_temp__current {
    width: 50%;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
.today_temp__hl {
    width: 50%;
}
.hl__higher_temp {
    border-bottom: 1px solid;
}
.city_name {
    text-align: center;
}
.today_date {
    text-align: center;
}
.widget_lower {
    display: flex;
}
.other_day {
    width: 16%;
    border: 1px solid white;
    border-radius: 0px 0px 5px 5px;
}
.weather_image__icon {
    height: 25px;
}